<main class="profile-page" *ngIf="tutor; else loadingTpl">
  <div class="card">
    <img [src]="tutor.promoFile || 'https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=cp0_dst-png_s40x40&_nc_cat=1&_nc_sid=f5662c&_nc_ohc=tt8z1knDr6oQ7kNvwFjQZQP&_nc_oc=Adk5B7vST1kxheuDFvqXNcGF0AT-StYQlRAF_N5nEtnIsX2Q8quYivqMwcI7E2Rzf1s&_nc_zt=24&_nc_ht=scontent.fsgn5-8.fna&oh=00_AfUR6sbbnNPL0DBOS2edROl-_BZrbtGnFvF5NT6apAaLkQ&oe=68CB583A'" class="avatar">
    <h2>{{ tutor.username }} <span *ngIf="tutor.verified">✔</span></h2>
    <p class="email">📧 {{ tutor.email }}</p>

    <div class="info-row"><b>Trình độ:</b> {{ tutor.qualifications }}</div>
    <div class="info-row"><b>Kỹ năng:</b> {{ tutor.skills }}</div>
    <div class="info-row"><b>Lớp dạy:</b> {{ tutor.teachingGrades }}</div>
    <div class="info-row"><b>Giá dạy:</b> {{ tutor.price | currency:'VND' }}/h</div>
    <div class="info-row"><b>Mô tả:</b> {{ tutor.description }}</div>
    <div class="info-row" *ngIf="tutor?.promoFiles && tutor.promoFiles.length > 0">
      <b>File đính kèm:</b>
      <ul>
        <li *ngFor="let file of tutor.promoFiles; let i = index">
          <a [href]="file" target="_blank">📂 File {{ i + 1 }}</a>
        </li>
      </ul>
    </div>


    <!-- Action buttons -->
    <div class="actions">
      <a class="btn booking-btn" [routerLink]="['/booking', tutor.id]">📅 Đặt lịch học</a>
      <a class="btn rating-btn" [routerLink]="['/rating', tutor.id]">⭐ Đánh giá</a>
      <a class="btn chat-btn" [routerLink]="['/chat', tutor.id]">💬 Chat ngay</a>
    </div>
  </div>
</main>

<ng-template #loadingTpl>
  <p>⏳ Đang tải thông tin...</p>
</ng-template>
